:root {
    --clr-neutral-200: lightgrey;

    --clr-neutral-900: black;

    --clr-accent-400: gold;

    --ff-title: sans-serif;
    --ff-text: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
/* general */

@font-face {
    font-family: 'babesandbond';
    src: url('./fonts/babesandbond.ttf');
}
@font-face {
    font-family: 'bond';
    src: url('./fonts/Bond.ttf');
}
@font-face {
    font-family: 'goldeneye';
    src: url('./fonts/GoldenEye.ttf');
}

body {
    background-color: var(--clr-neutral-900);
    color: var(--clr-accent-400);
}
.page-title {
    text-align: center;
    font-family: var(--ff-title);
    font-size: 3rem;
    font-weight: 200;
}
    font-family: babesandbond;
}
/* Game options menu */

.start-menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    background-color: lightgray;
    width: 30%;
    padding: 2em;
    justify-content: center;
}
.welcome-phrase {
    text-align: center;
    color: black;
}
.welcome-heading {
    margin-top: -0.5em;
    font-size: 2.2rem;
    font-weight: 500;
}
.welcome-para {
    margin-top: -0.5em;
    font-size: 1.3rem;
}
.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.two-players_menu-btn,
.time-trial_menu-btn {
    padding: 1.5em;
    background-color: gold;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid black;
}

/* two players */

.player-reg {
    display: none;
    margin: 2em auto;
    width: 500px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: var(--clr-neutral-900);
}
.player-reg input {
    margin-bottom: 1em;
    width: 60%;
}
.player-reg label {
    border: 1px solid red;
}
.start-game-btn {
    /* align-self: center; */
}

/* time trial */
.difficulty_container {
    display: none;
    justify-content: center;
    text-align: center;
}
.difficulty_menu {
    width: 30%;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    gap: 10px;
}
.difficulty_header {
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
}
.difficulty-easy-btn,
.difficulty-medium-btn,
.difficulty-hard-btn,
.start-game-btn {
    width: 60%;
    padding: 1em;
    background-color: gold;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid black;
}

/* Game */
.game-body {
    width: 1300px;
    display: none;
    justify-content: center;
    margin: 2em auto;
    /* padding: 2em; */
}
.game-board {
    background-color: var(--clr-neutral-200);
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 0.5em; */
    position: relative;
    box-shadow: inset 0 0 5px grey;
}
.card-container {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 120px;
    height: 175px;
    margin: 0.5em;
}
.img-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.img-card-rotate {
    transform: rotateY(180deg);
}

.img-card-lower-opacity {
    opacity: 0.5;
}

.img-back {
    position: absolute;
    backface-visibility: hidden;
}

.img-front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Score */
.score-container {
    background-color: var(--clr-neutral-200);
    width: 300px;
    padding: 1em;
    color: var(--clr-neutral-900);
    /* margin-right: 2.3em; */
    /* display: flex;
  justify-content: center;
  align-items: center; */
}

.two-player,
.timetrial {
    display: none;
}
.player-reg,
.turn-display,
.time-display,
.score-board-two,
.score-board-time,
.history {
    background-color: white;
    padding: 0.5em;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 5px grey;
}
.turn-display,
.time-display {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.score-board-two div {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
}
.right-border {
    border-right: 3px double black;
}

.player-one-name,
.player-two-name,
.player-name {
    font-size: 1.4rem;
    margin-bottom: -0.5em;
}
.player-one-score,
.player-two-score,
.player-score {
    font-weight: 900;
    font-size: 1.5rem;
}
.history {
    height: 450px;
    overflow-y: scroll;
}
.score-title,
.history-title {
    text-align: center;
    border-bottom: 6px double grey;
    font-size: 1.2rem;
    font-weight: 700;
}

li img {
    max-width: 40px;
}
