:root {
    --clr-neutral-200: lightgrey;

    --clr-neutral-900: black;

    --clr-accent-400: gold;

    --ff-title: sans-serif;
    --ff-text: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
/* general */

body {
    background-color: var(--clr-neutral-900);
    color: var(--clr-accent-400);
}
.page-title {
    text-align: center;
    font-family: var(--ff-title);
}

/* player reg */

.player-reg {
    margin: 2em auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    color: var(--clr-neutral-900);
}

/* Game */
.game-body {
    width: 1300px;
    display: none;
    justify-content: center;
    margin: 2em auto;
    /* padding: 2em; */
}
.game-board {
    background-color: var(--clr-neutral-200);
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 0.5em; */
    position: relative;
    box-shadow: inset 0 0 5px grey;
}

.card-container {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 120px;
    height: 175px;
    margin: 0.5em;
}
.img-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.img-card-rotate {
    transform: rotateY(180deg);
}

.img-back {
    position: absolute;
    backface-visibility: hidden;
}

.img-front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Score */
.score-container {
    background-color: var(--clr-neutral-200);
    width: 300px;
    padding: 1em;
    color: var(--clr-neutral-900);
    /* margin-right: 2.3em; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.player-reg,
.turn-display,
.score-board,
.history {
    background-color: white;
    padding: 0.5em;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 5px grey;
}

.turn-display {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.score-board {
    display: flex;
    justify-content: space-evenly;
}
.score-board div {
    text-align: center;
}
.history {
    height: 450px;
    overflow-y: scroll;
}

.history-title {
    border-bottom: 1px solid grey;
}
