:root {
    --clr-neutral-200: lightgrey;

    --clr-neutral-900: black;

    --clr-accent-400: gold;

    --ff-title: sans-serif;
    --ff-text: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: 'babesandbond';
    src: url('./fonts/babesandbond.ttf');
}
@font-face {
    font-family: 'spectre';
    src: url('./fonts/Spectre007-KAdA.ttf');
}
@font-face {
    font-family: 'goldeneye';
    src: url('./fonts/GoldenEye.ttf');
}
@font-face {
    font-family: 'quantum';
    src: url('./fonts/Quantum-18n0.ttf');
}

.babesandbond-font {
    font-family: babesandbond;
}
.goldeneye-font {
    font-family: goldeneye;
}
.spectre-font {
    font-family: spectre;
    font-weight: 500;
    font-size: 1.5rem;
    color: silver;
}
.quantum-font {
    font-family: quantum;
    color: gold;
}
.babesandbond-font-btn {
    font-family: babesandbond;
    font-size: 3rem;
}
.button-font-style {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 80px;
    text-align: start;
}

/* general */

body {
    background-color: var(--clr-neutral-900);
    color: var(--clr-accent-400);
}
.page-title {
    text-align: center;
    font-family: var(--ff-title);
    font-size: 3rem;
    font-weight: 200;
    margin-left: -1em;
    letter-spacing: -6px;
}


/* Game options menu */
.start-menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    background-color: black;
    width: 30%;
    padding: 2em;
    justify-content: center;
}
.welcome-phrase {
    text-align: center;
}
.welcome-heading {
    margin-top: -0.5em;
    font-size: 2.2rem;
    font-weight: 500;
    font-size: 3rem;
    color: silver;
}
.welcome-para {
    margin-top: -0.5em;
    font-size: 1.5rem;
}
.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.two-players_menu-btn,
.time-trial_menu-btn {
    background-color: gold;
    border-radius: 4px;
    border: 1px solid black;
    font-family: goldeneye;
    display: flex;
    justify-content: center;
}
.play-music{
  position: absolute;
  top: 0;
  right: 100px;
  flex-direction: column;
  text-align: center;
  align-items: end;
  font-size: 1.3rem;
}
.mute-btn{
  width: 3%;
  font-size: 2rem;
  padding-left: 0.5em;
  padding-right: 1em;
  border-radius: 60%;
  background-color: gold;
  text-align: center;
}

/* two players */
.player-reg {
    display: none;
    margin: 2em auto;
    padding-block: 3rem;
    width: 500px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: var(--clr-neutral-900);
}
.player-reg input {
    margin-bottom: 1em;
    width: 60%;
    padding: 0.2em;
    padding-bottom: 0;
    font-size: 1.5rem;
    font-family: goldeneye;
    letter-spacing: 1px;
    text-align: center;
    background-color: black;
    color: gold;
    border: 1px solid silver;
}
.player-reg input:focus {
    outline: 2px double silver;
}
input::placeholder {
    font-family: babesandbond;
    color: gold;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

/* time trial */
.difficulty_container {
    display: none;
    justify-content: center;
    text-align: center;
}
.difficulty_menu {
    width: 30%;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 10px;
}

.difficulty-easy-btn,
.difficulty-medium-btn,
.difficulty-hard-btn,
.start-game-btn {
    width: 60%;
    padding: 0.3em;
    background-color: gold;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid black;
    font-family: goldeneye;
}

/* Game */
.game-body {
    width: 1350px;
    display: none;
    justify-content: center;
    margin: 2em auto;
    /* padding: 2em; */
    /* background-color: silver; */
}
.game-board {
    background-color: var(--clr-neutral-200);
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 0.5em; */
    align-content: space-around;
    position: relative;
    box-shadow: inset 0 0 5px grey;
}
.card-container {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 120px;
    height: 175px;
    margin: 0.5em;
}
.img-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.img-card-rotate {
    transform: rotateY(180deg);
}

.img-card-lower-opacity {
    opacity: 0.5;
}

.img-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.img-front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Score */
.score-container {
    background-color: var(--clr-neutral-200);
    width: 300px;
    padding: 1em;
    color: var(--clr-neutral-900);
    /* margin-right: 2.3em; */
    /* display: flex;
  justify-content: center;
  align-items: center; */
}

.two-player,
.timetrial {
    display: none;
}
.player-reg,
.turn-display,
.time-display,
.score-board-two,
.score-board-time,
.history,
.end-msg {
    background-color: black;
    padding: 0.5em;
    margin-bottom: 1rem;
    color: gold;
    font-family: quantum;
}
.turn-display,
.time-display {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.score-board-two div {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
}
.right-border {
    border-right: 3px double silver;
}

.player-one-name,
.player-two-name,
.player-name {
    font-size: 1.5rem;
    margin-bottom: -0.5em;
}
.player-one-score,
.player-two-score,
.player-score {
    font-weight: 200;
    font-size: 1.5em;
}
.history {
    height: 300px;
    /* max-height: 450px; */
    overflow-y: scroll;
    font-size: 1.2rem;
}
.score-title,
.history-title {
    text-align: center;
    border-bottom: 6px double silver;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: quantum;
}

li img {
    max-width: 30px;
}

.game-btns {
    display: flex;
    height: max-content;
    justify-content: space-around;
    align-items: center;
}
.restart-game-btn,
.quit-to-menu-btn {
    width: 45%;
    padding: 1em;
    background-color: gold;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid black;
}
/* Post game msg */

.game-end-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 800px;
    height: 550px;
    background-color: black;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 50px;
}

.game-end-msg::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -35%;
    height: 90vh;
    width: 70vw;
    z-index: -1;
    background-color: black;
    opacity: 0.5;
}

.end-msg {
    width: 800px;
    height: 400px;
}
.winner-msg {
    text-align: center;
    font-size: 2rem;
}


.blinking-timer{
  animation: blink-red 0.5s ease-in-out infinite alternate;  
}

@keyframes blink-red {
  0% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: rgb(177, 2, 2)
  }
}